# Ignore VS Code settings
.vscode/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment and dependency files
*.env
*.venv/
.env/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
.tmp.driveupload/
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore specific data files which are too large.
datasets/noiseless/RTS*