# Ignore VS Code settings
.vscode/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment and dependency files
*.env
*.venv/
.env/
.Python
pip-log.txt
pip-delete-this-directory.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary files
.tmp.driveupload/
*.tmp
*.swp
*.swo
*.bak
*.orig

# Ignore specific data file which is too large.
datasets/noiseless/random_080625_2212_w=[0,1.57];Tc=None,nruns=10^2.0,nshots=1,STRAT=(heuristic=random,C=1000.0),RWM(Npart=2000,thr=0.5,var=w,ut=var,log=T,res_ut=F,plot=F)#0.data